# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Env files
.env

# Build output
dist/

# VS Code
.vscode/

# Misc
.DS_Store
*.log

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
